<a href="https://colab.research.google.com/github/NeeteshDadwariya/CS6375/blob/main/assignments/assignment1/part1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sb

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score

In [4]:
#Using data from the hosted location
df = pd.read_excel("https://archive.org/download/concrete-data/Concrete_Data.xlsx")
df.head()

   cement_component  blast_furnace_slag  ...  age  concrete_compressive_strength
0             540.0                 0.0  ...   28                      79.986111
1             540.0                 0.0  ...   28                      61.887366
2             332.5               142.5  ...  270                      40.269535
3             332.5               142.5  ...  365                      41.052780
4             198.6               132.4  ...  360                      44.296075

[5 rows x 9 columns]

In [6]:
df.describe()

       cement_component  ...  concrete_compressive_strength
count       1030.000000  ...                    1030.000000
mean         281.165631  ...                      35.817836
std          104.507142  ...                      16.705679
min          102.000000  ...                       2.331808
25%          192.375000  ...                      23.707115
50%          272.900000  ...                      34.442774
75%          350.000000  ...                      46.136287
max          540.000000  ...                      82.599225

[8 rows x 9 columns]

In [9]:
df.isnull().sum()

cement_component                 0
blast_furnace_slag               0
fly_ash_component                0
water_component                  0
superplasticizer                 0
coarse_agg_component             0
fine_agg_component               0
age                              0
concrete_compressive_strength    0
dtype: int64

In [51]:
class LinearRegression():

  def __init__(self):
    pass


  def pre_processing(self, df):
      df = df.dropna()
      df = df.drop_duplicates()
      return df

  def split_x_and_y(self, df):
    no_rows, no_cols = df.shape[0], df.shape[1]
    x =  df.iloc[:, 0:(no_cols -1)]
    y = df.iloc[:, no_cols-1]

    return x,y

  def scale_data(self, df):
    ss = StandardScaler()
    return pd.DataFrame(ss.fit_transform(df), columns = df.columns)

  def split_train_test(self, x, y):
    return train_test_split(x, y, test_size = 0.2, random_state=5)

model = LinearRegression()

In [39]:
df = model.pre_processing(df)
df.head()

   cement_component  blast_furnace_slag  ...  age  concrete_compressive_strength
0             540.0                 0.0  ...   28                      79.986111
1             540.0                 0.0  ...   28                      61.887366
2             332.5               142.5  ...  270                      40.269535
3             332.5               142.5  ...  365                      41.052780
4             198.6               132.4  ...  360                      44.296075

[5 rows x 9 columns]

Here we do not have any categorical variables in the data, so we do not need to convert it.

In [52]:
x, y = model.split_x_and_y(df)

We would want to scale the data to normalize the deviations.

In [53]:
scaled_x = model.scale_data(x)
scaled_x.head()

   cement_component  blast_furnace_slag  ...  fine_agg_component       age
0          2.506120           -0.836469  ...           -1.204069 -0.280312
1          2.506120           -0.836469  ...           -1.204069 -0.280312
2          0.516534            0.818051  ...           -2.225242  3.518569
3          0.516534            0.818051  ...           -2.225242  5.009865
4         -0.767348            0.700784  ...            0.657702  4.931375

[5 rows x 8 columns]

In [58]:
x_train, x_test, y_train, y_test = model.split_train_test(x, y)
print("x_train shape: ", x_train.shape)
print("y_train shape: ", y_train.shape)
print("x_test shape: ", x_test.shape)
print("y_test shape: ", y_test.shape)

x_train shape:  (804, 8)
y_train shape:  (804,)
x_test shape:  (201, 8)
y_test shape:  (201,)